<table class="table">
  <thead>
    <tr>
      <th scope="col">Token name</th>
      <th scope="col">Amount</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let token of tokens">
      <td>
        <span class="badge bg-primary">{{ token.name }}</span>
      </td>
      <td>{{ token.totalSupply | number }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary app-button-outline btn-sm"
          (click)="openOrderBook(token)">
          Order Book
        </button>
        <button
          type="button"
          class="btn btn-primary app-button-normal btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#placeOrderModal"
          (click)="openPlaceOfferModal(token)">
          Place Offer
        </button>

        <!-- PlaceOrderModalComponent -->
      </td>
    </tr>
  </tbody>
</table>

<app-place-order-modal [token]="selectedToken"></app-place-order-modal>

<div style="height: 200px;"></div>