<nav class="navbar navbar-expand-sm navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img src="/assets/logo.png" height="50" alt="AssetLink Nexus"
    /></a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Buy</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link"
            >Sell [Soon]</a
          >
        </li> -->
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="dropdown text-center app-dropdown pe-auto" appDropdown>
          <a
            class="nav-link dropdown-toggle d-flex align-items-center pe-auto"
            >{{ username }}</a
          >
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item">Portfolio</a>
            <a class="dropdown-item">Open orders</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login"
            ><button class="btn btn-primary app-button-outline" type="button">
              Sign in
            </button></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="height: 1px; background-color: #dee2e6; width: 100%"></div>
