<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row h-100">
        <div
          class="col d-flex justify-content-center text-center align-items-center">
          <h1>
            Buy <span class="blue-text">web2 assets</span> with <br />
            crypto in a simple way
          </h1>
        </div>
        <!-- <div class="col-xs-12 center-block text-center">
          <h1>
            Buy <span class="blue-text">web2 assets</span> with <br />
            crypto in a simple way
          </h1>
        </div> -->
      </div>
    </div>

    <div class="col-md-6">
      <img
        src="/assets/main_banner.png"
        alt=""
        height="300
      " />
    </div>

    <!-- <div class="row">
      <div class="col-md-12">TABELA</div>
    </div> -->
  </div>
</div>
<div class="container-fluid" style="background: #f6f6f6">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="pt-3">Assets list</h4>
        <!-- Button trigger modal -->
       
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-table [tokens]="tokens"></app-table>
      </div>
    </div>
  </div>
</div>
