
$primary: #496CE6;
$secondary: #e8edff;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;



// Bootstrap and its default variables

// @import "./styles/variables.scss";

// @import "bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// // Import Custom SB Admin 2 Mixins and Components
// @import "./styles/mixins.scss";
// @import "./styles/global.scss";
// @import "./styles/utilities.scss";
// // Custom Components
// @import "./styles/dropdowns.scss";
// @import "./styles/navs.scss";
// @import "./styles/buttons.scss";
// @import "./styles/cards.scss";
// @import "./styles/charts.scss";
// @import "./styles/login.scss";
// @import "./styles/error.scss";
// @import "./styles/footer.scss";


@font-face {
    font-family: 'TTHoves';
    src: url('../src/assets/TTHoves-Regular.ttf');
  }

html, body {
    font-family: 'TTHoves';
    line-height: 21.6px;
    font-size: 18px;
}



// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)


// Import Bootstrap
// @import "../vendor/bootstrap/scss/bootstrap.scss";