
$primary: #496CE6;
$secondary: #e8edff;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;


$nav-link-active-color: #ff0000;

// Bootstrap and its default variables

@import "./styles/components.scss";

// @import "bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap.scss";




@font-face {
    font-family: 'TTHoves';
    src: url('../src/assets/TTHoves-Regular.ttf');
  }

html, body {
    font-family: 'TTHoves';
    line-height: 21.6px;
    font-size: 18px;
}



// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)


// Import Bootstrap
// @import "../vendor/bootstrap/scss/bootstrap.scss";