<div class="row">
  <div class="col-6">
    <form>
      <div class="row">
        <div class="col-10 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            [(ngModel)]="this.ingredient.name" />
        </div>
        <div class="col-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            name="amount"
            class="form-control"
            [(ngModel)]="this.ingredient.amount" />
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <button class="btn btn-success" type="submit" (click)="onAddItem()">
            Add
          </button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
